body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    /* margin-left: 100px;
    margin-right: 100px; */
    padding-left: 100px;
    padding-right: 100px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    color: #f9faf8;
    font-size: 24px;
}

header img {
    height: 40px;
    width: auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    align-items: center;
    
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.content > .first {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #1f2937;
    padding: 100px;
}

.first-right > img {
    max-height: 400px;
    width: auto;
}

.first-left > h2 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.first-left > p {
    font-size: 18px;
    color: #e5e7eb;
}

.first-left > button {
    font-size: 18px;
    color: #e5e7eb;
    background-color: #3882f6;
    padding: 8px 24px;
    border-radius: 12px;
}