body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    color: #f9faf8;
    font-size: 24px;
}

header img {
    height: 40px;
    width: auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    align-items: center;
    
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.content > .first {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #1f2937;
    padding: 100px;
}

.first-right > img {
    max-height: 400px;
    width: auto;
}

.first-left > h2 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.first-left > p {
    font-size: 18px;
    color: #e5e7eb;
}

.first-left > button {
    font-size: 18px;
    border: 2px solid #e5e7eb;
    background-color: #3882f6;
    border-radius: 16px;
    padding: 16px 32px;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 0 0 0.5rem;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.second > h3 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 16px;
}

.cards {
    display: flex;
    gap: 50px;
}

.card {
    width: 200px;
}

.card > img {
    width: 200px;
    height: auto;
    border: 5px solid #3882f6;
    border-radius: 24px;
}

.third {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    padding: 50px 300px;
}

.third > h3 {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.third > p {
    font-size: 24px;
    font-weight: 800;
    text-align: right;
    margin-left: auto;
}

.fourth {
    display: flex;
    padding: 50px 100px;
    justify-content: stretch;
}

.container {
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 32px 100px;
}

.fourth-left > h3 {
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
}

.fourth-left > p, button {
    font-size: 18px;
    color: #e5e7eb;
}

.fourth-right > button {
    border: 2px solid #e5e7eb;
    background-color: #3882f6;
    border-radius: 16px;
    padding: 16px 32px;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 0 0 0.5rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}